img.jotaro {
    width: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.content {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    background-color: lightslategray;
}
.pulse {
    animation: pulse 1.25s infinite;
    text-align: center;
    font-family: Arial, sans-serif;
}
@keyframes pulse{
    0%{color:red;}	
    110%{color: black;}
 }
div {
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #222233;
    background-color: #222233;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text {
    text-align: center;
    display: block;
    color: #AACCFF;
    font-family: Arial, sans-serif;
}

.animtext {
    color: #AACCFF;
    font-family: Arial, sans-serif;
    text-align: center;
    display: block;
    margin: 0 0.5rem;
  
    animation: var(--animation);
  }

@keyframes wobble {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

@keyframes blink {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

@keyframes pulse2 {
	0% {
		opacity: 0.8;
		transform: scale(0.2);
	}

	80% {
		opacity: 0;
		transform: scale(1.2);
	}

	100% {
		opacity: 0;
		transform: scale(2.2);
	}
}

@keyframes jello {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(0.75, 1.25, 1);
	}

	40% {
		transform: scale3d(1.25, 0.75, 1);
	}

	50% {
		transform: scale3d(0.85, 1.15, 1);
	}

	65% {
		transform: scale3d(1.05, 0.95, 1);
	}

	75% {
		transform: scale3d(0.95, 1.05, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes heartbeat {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
